Source: mozilla-kde-support
Section: web
Priority: optional
Maintainer: Rohan Garg <rohangarg@kubuntu.org>
Build-Depends: debhelper (>= 7.3.16~),
               pkg-kde-tools (>= 0.5.0~),
               cmake,
               kdelibs5-dev
Standards-Version: 3.9.3
Homepage: https://github.com/moz-plasma/firefox-plasma-support

Package: mozilla-kde-support
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Integration of Mozilla products with KDE
 This is a helper application that allows Mozilla products to use
 KDE file dialogs, file associations, protocol handlers and
 other KDE integration features.
